/*----------------- Satoshi Font (Font Face Rule) Start -----------------*/
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/open-sans-condensed/OpenSans-CondLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/open-sans-condensed/OpenSans-CondLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/open-sans-condensed/OpenSans-CondBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('../fonts/Caviar-Dreams/CaviarDreams.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('../fonts/Caviar-Dreams/Caviar_Dreams_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('../fonts/Caviar-Dreams/CaviarDreams_BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('../fonts/Caviar-Dreams/CaviarDreams_Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/*----------------- Satoshi Font (Font Face Rule) Over -----------------*/



.bg-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg-image:not([class*=absolute]) {
    position: absolute;
}

.desktop_header {
    display: block;
}

.mobile_header {
    display: none;
}

.btn_header_drop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    color: #FFF;
    font-family: "Open Sans Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 155%; /* 27.9px */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    border: 0px;
    border-radius: 0px;
    position: relative;
}
.btn_header_drop img.tri_up {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: none;
}
.btn_header_drop img.tri_down {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: none;
}
.btn_header_drop.active {
    color: var(--Gold, #C9AB81);
    font-family: "Open Sans Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 155%; /* 27.9px */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    border-top: 1px solid var(--Gold, #C9AB81);
    border-bottom: 1px solid var(--Gold, #C9AB81);
}
.btn_header_drop.active img.tri_up, .btn_header_drop.active img.tri_down {
    display: block;
}
.btn_header_drop.active svg path {
    stroke: #C9AB81;
}
.btn_header_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    color: #FFF;
    font-family: "Open Sans Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 155%; /* 27.9px */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    border: 0px;
    border-radius: 0px;
    position: relative;
}
.btn_header_link img.tri_up {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: none;
}
.btn_header_link img.tri_down {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: none;
}
.btn_header_link.active {
    color: var(--Gold, #C9AB81);
    font-family: "Open Sans Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 155%; /* 27.9px */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    border-top: 1px solid var(--Gold, #C9AB81);
    border-bottom: 1px solid var(--Gold, #C9AB81);
}
.btn_header_link.active img.tri_up, .btn_header_link.active img.tri_down {
    display: block;
}
.header_main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}
.header_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    min-width: 410px;
}
.header_top {
    padding: 9px 0px;
}
#header {
    border-bottom: 1px solid var(--Gold, #C9AB81);
}
.currency_drop_container {
    position: relative;
}
.dropped_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 228px;
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translate(-50%, 0px);
}
.btn_inner_drop, .btn_inner_drop:hover {
    background: var(--Grayscale-White, #FFF);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    color: var(--Dark-Teal, #1B1D1E);
    font-family: "Open Sans Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 155%; /* 27.9px */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    border-radius: 0px;
}
.btn_inner_drop.active {
    border: 0px;
    border-top: 1px solid var(--Gold, #C9AB81);
    border-bottom: 1px solid var(--Gold, #C9AB81);
    background: var(--Cream, #FCFAF4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    color: var(--Dark-Gold, #B18E5E);
    font-family: "Open Sans Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 155%; /* 27.9px */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.footer_text {
    color: var(--Grayscale-500---Light, #C7C7C7);
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 169.5%;
    margin-bottom: 0px;
}
.footer_title {
    color: var(--Gold, #C9AB81);
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 169.5%; /* 27.12px */
    margin-bottom: 0px;
}
.social_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.btn_social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.footer_copy_text {
    color: var(--Grayscale-700---Darker, #636363);
    font-family: "Josefin Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 169.5%; /* 27.12px */
    margin-bottom: 0px;
}
.footer_copy_text span {
    color: var(--Gold, #C9AB81);
    font-family: "Josefin Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 169.5%;
}
.btn_footer_copy_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--Gold, #C9AB81);
    font-family: "Josefin Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 169.5%; /* 27.12px */
    padding: 0px;
}
.footer_copy_r {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.footer_copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer {
    background: transparent;
    margin-top: -84px;
}

.footer_bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 32px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    background: var(--Dark-Teal, #1B1D1E);
}
.footer_logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.footer_bar {
    height: 1px;
    width: 100%;
    background: #B18E5E;
}
.footer_card_title {
    color: var(--Dark-Teal, #1B1D1E);
    text-align: center;

    /* P/Btn */
    font-family: "Open Sans Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 155%; /* 27.9px */
    letter-spacing: 1.08px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.footer_card_top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--Grayscale-White, #FFF);
}
.footer_top_frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}
.footer_card {
    background: var(--Grayscale-White, #FFF);
    border: 0px;
}
.footer_top {
    padding-bottom: 53px;
    background: linear-gradient(to bottom, transparent 84px, #1B1D1E 0%);
    position: relative;
    height: 241px;
}
.footer_card_bottom {
    height: 140px;
    overflow: auto;
    transition: all 0.2s linear;
}

.footer_card:hover {
    border: 1px solid var(--Gold, #C9AB81);
    box-shadow: 0px 0px 0px 2px rgba(201, 171, 129, 0.50), 0px 29px 80px 0px rgba(0, 0, 0, 0.07), 0px 18.796px 46.852px 0px rgba(0, 0, 0, 0.05), 0px 11.17px 25.481px 0px rgba(0, 0, 0, 0.04), 0px 5.8px 13px 0px rgba(0, 0, 0, 0.04), 0px 2.363px 6.519px 0px rgba(0, 0, 0, 0.03), 0px 0.537px 3.148px 0px rgba(0, 0, 0, 0.02);
}
.footer_card:hover .footer_card_top {
    background: var(--Gold, #C9AB81);
}
.footer_card:hover .footer_card_bottom {
    height: 162px;
}


.btn_global_light {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    border: 2px solid var(--Gold, #C9AB81);
    border-radius: 0px;
    color: var(--Grayscale-White, #FFF);
    font-family: "Open Sans Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 155%; /* 27.9px */
    letter-spacing: 1.08px;
    text-transform: uppercase;
    transition: all 0.3s linear;
}
.btn_global_light:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    border: 2px solid var(--Gold, #C9AB81);
    background: var(--Dark-Gold, #B18E5E);
    color: var(--Grayscale-White, #FFF);
    font-family: "Open Sans Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 155%; /* 27.9px */
    letter-spacing: 1.08px;
    text-transform: uppercase;
    box-shadow: inset 0 0 0 2px var(--Gold, #C9AB81);
}
.btn_global_light span {
    background: #FFF;
    width: 7px;
    height: 0px;
    transition: all 0.3s linear;
}
.btn_global_light:hover span {
    width: 7px;
    height: 1px;
}

.btn_global_dark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    border: 2px solid var(--Gold, #1B1D1E);
    border-radius: 0px;
    color: var(--Grayscale-White, #FFF);
    font-family: "Open Sans Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 155%; /* 27.9px */
    letter-spacing: 1.08px;
    text-transform: uppercase;
    transition: all 0.3s linear;
    background: #1B1D1E;
}
.btn_global_dark:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    border: 2px solid var(--Gold, #C9AB81);
    background: var(--Dark-Gold, #B18E5E);
    color: var(--Grayscale-White, #FFF);
    font-family: "Open Sans Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 155%; /* 27.9px */
    letter-spacing: 1.08px;
    text-transform: uppercase;
    box-shadow: inset 0 0 0 2px var(--Gold, #C9AB81);
}
.btn_global_dark span {
    background: #FFF;
    width: 7px;
    height: 0px;
    transition: all 0.3s linear;
}
.btn_global_dark:hover span {
    width: 7px;
    height: 1px;
}
.product_card_price {
    color: var(--Dark-Teal, #1B1D1E);
    text-align: right;
    font-family: "Josefin Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 169.5%; /* 37.29px */
    text-transform: capitalize;
    margin-bottom: 0px;
}
.product_card_price span {
    color: var(--Dark-Gold, #B18E5E);
    font-family: "Josefin Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 169.5%;
    text-transform: capitalize;
}

.product_card_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.product_card_title {
    color: var(--Dark-Teal, #1B1D1E);
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 169.5%; /* 42.375px */
    text-transform: capitalize;
    margin-bottom: 0px;
}
.product_card_pre_title {
    color: var(--Dark-Gold, #B18E5E);
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 169.5%; /* 27.12px */
    margin-bottom: 0px;
}
.product_card_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    padding: 24px;
}
.product_card {
    width: 100%;
    max-width: 342px;
    background: #FFFFFF;
}



@media only screen and (max-width: 700px) {
    .desktop_header {
        display: none;
    }

    .mobile_header {
        display: block;
    }

    .header_top {
        padding: 10px 24px;
    }
    .header_mobo_main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger_menu,
    .hamburger_menu_close {
        position: absolute;
        /* width: 24px;
        height: 24px; */
        right: 0px;
        top: 0px;
    }
    .header_mobo_right {
        position: relative;
        height: 24px;
        width: 24px;
    }
    .header_main_mobo {
        padding: 0px;
        height: 586px;
        overflow: auto;
        background: #FFFFFF;
    }
    .header_mobo_left a img {
        width: 64px;
    }
    .btn_header_link_mobo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
        gap: 10px;
        width: 100%;
        border-radius: 0px;
        border: 0px;
        border-bottom: 1px solid var(--Grayscale-400---Lighter, #E4E4E4);
        color: var(--Dark-Teal, #1B1D1E);
        font-family: "Open Sans Condensed";
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 155%; /* 37.2px */
        letter-spacing: 0.72px;
        text-transform: uppercase;
    }
    .btn_header_link_mobo.active {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
        gap: 10px;
        width: 100%;
        border-radius: 0px;
        border-top: 1px solid var(--Gold, #C9AB81);
        border-bottom: 1px solid var(--Gold, #C9AB81);
        background: var(--Cream, #FCFAF4);
        color: var(--Dark-Teal, #B18E5E);
        font-family: "Open Sans Condensed";
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 155%; /* 37.2px */
        letter-spacing: 0.72px;
        text-transform: uppercase;
    }
    .btn_header_link_mobo.active svg path {
        stroke: #B18E5E;
    }
    .dropped_div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        width: 100%;
        position: unset;
        transform: unset;
    }
    .btn_inner_drop {
        border-bottom: 1px solid var(--Grayscale-400---Lighter, #E4E4E4);
    }
    .btn_inner_drop, .btn_inner_drop.active {
        padding: 8px 24px;
    }
    .footer_bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 24px;
        padding: 40px 24px;
    }
    .btn_footer_link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        color: var(--Grayscale-White, #FFF);
        font-family: "Open Sans Condensed";
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 155%; /* 27.9px */
        letter-spacing: 0.54px;
        text-transform: uppercase;
    }
    .footer_link_div_l, .footer_link_div_r {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
    }

    .footer_link_div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;
    }
    .footer_copyright {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
    }
    .footer_top {
        display: none;
    }
    .footer {
        background: transparent;
        margin-top: 0px;
    }
}







@media only screen and (min-width: 1280px) and (max-width:1348px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1190px;
    }
}

@media only screen and (min-width: 1349px) and (max-width:1439px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1256px;
    }
}

@media only screen and (min-width: 1440px) and (max-width:1499px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1256px;
    }
}


@media only screen and (min-width: 1500px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1440px;
    }
}